/* ==UserStyle==
@name        Plex Fixes
@version     1.1.0
@description Bringing back plex to pre-3.0.0
@namespace   github.com/StylusThemes
@author      StylusThemes <https://github.com/StylusThemes>
@homepageURL https://github.com/StylusThemes/Plex-Fixes
@supportURL  https://github.com/StylusThemes/Plex-Fixes/issues
@updateURL   https://raw.githubusercontent.com/StylusThemes/Plex-Fixes/master/style.user.css
@preprocessor stylus
@license     CC-BY-SA-4.0

@var text IMGURL "Custom Background Image for Discover Page" "'http://example.com/bkgd.jpg'"

@var select CastL "Cast List" ["CLY:Hover Effects", "CLH:Hide Cast List", "CLN:No Hover Effect & Don't Hide"]
@var select ExtrasM "Extras" ["EEY:Expand Movie Extras", "EEH:Hide Extras", "EEN:Don't Expand & Don't Hide"]
@var select RelatedL "Related Lists" ["RLY:Hide Related Lists", "RLN:Don't Hide"]
@var select PosterHE "Posters" ["PHEY:Hover Effects", "PHEN:No Hover Effects"]
@var select CompactSB "Contract The Sidebar To Save Screen Space" ["CSY:Yes", "CSN:No"]
==/UserStyle== */
@-moz-document regexp("https?://app.plex.tv/.*"), regexp("((http(s?)):\\/\\/)?[-A-Za-z0-9+&@#/%?=~_|!:,.;]+(32400)+(.*)") {
  /* ++----------------------------------------------------------------------------------++ */
  /* ||                                                                                  || */
  /* ||* Name        : Plex Fixes                                                        || */
  /* ||                                                                                  || */
  /* ||* Author      : JourneyOver                                                       || */
  /* ||                                                                                  || */
  /* ||* Created     : 03 / 10 / 2017                                                    || */
  /* ||                                                                                  || */
  /* ||* Updated     : 12 / 30 / 2018                                                    || */
  /* ||                                                                                  || */
  /* ||* Version     : 1.1.0                                                             || */
  /* ||                                                                                  || */
  /* ||* Copyright   : 2017-2019                                                         || */
  /* ||                                                                                  || */
  /* ++----------------------------------------------------------------------------------++ */

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::: Pre 3.0.0 Fixes :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

a {
  user-select: all !important;
}

/*::: Main Background Image :::*/
.background-container {
   > [class^="FullPage-container-"] {
    div {
       > div {
        background: rgba(31, 31, 31, 1);
        background-image: url(IMGURL) !important;
        background-position: center center;
        background-size: 100% 100% !important;

        image-rendering: auto;
      }
    }
  }
}

/*::: Image Container :::*/
div[class^="PrePlayArtwork-imageContainer-"],
div[class*="3dXG6"] {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: -1 !important;
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: #1f1f1f !important;
  -webkit-animation: plexbgfadein .6s ease-in;
  /*::: Image :::*/
   > div {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    opacity: .25 !important;
    /*::: Resizing adds extra divs :::*/
    & + div {
      display: none !important;
    }
  }
  /*::: Item Thumbnail :::*/
  & + div {
    position: fixed !important;
    top: 180px !important;
    background-position: center !important;
  }
}

/*::: Background Fade-in :::*/
@-webkit-keyframes plexbgfadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::: NEW ADDITIONS :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Max Width Of Summary Container :::*/
div[class^="PrePlaySummary-summary-"],
div[class*="1NL8g"] {
  margin-bottom: 5px;
  max-width: none !important;
  font-size: 15px;
  /*::: Make Sure Overflow Of Summary Container is always visible :::*/
   > div {
    overflow: visible !important;
    max-height: none !important;
  }
}

/*::: Hide Read More Button Since It's Useless Now :::*/
[class^="CollapsibleText-readMore-"],
[class*="1bRJm"] {
  display: none !important;
}

/*::: Hide The Go Premium Button :::*/
[class^="NavBar-plexPassButton-"],
[class*="wVK4v"] {
  display: none !important;
}

/*::: Plex Fixes Version :::*/
[class="version-title"] {
  &::after {
    white-space: pre;
    content: "\A Plex Fixes Ver. 1.1.0";
  }
}

/*::: Make Users pic square :::*/
[class^="dropdown-poster-"] {
   > div {
    border-radius: 0;
  }
}

[class^="card-poster"],
[class^="AvatarImg-avatar-"],
[class*="3Op56"] {
  border-radius: 0;
}

/*::: Move dashboard down slightly :::*/
[class^="DashboardPage-dashboardPageContent-"],
[class*="2rN8X"] {
  padding: 15px 55px 60px !important;
}

/*::: make continue watching title containers a bit smaller :::*/
div[class*="MetadataPosterCell-continueWatchingTitleContainer-"],
div[class*="3yCAY"] {
  padding: 4px 5px !important;
  background-color: rgba(0, 0, 0, .35);
}

/*::: shorten the padding on headers on dashboard to bring inline with being closer to continue watching title container :::*/
div[class*="HubCellHeader-hubCellHeader-"],
div[class*="2pvYN"] {
  padding: 4px 0 0 5px !important;
}

/*::: Make cast pictures square :::*/
a[class^="PrePlayCastCell-cardLink-"],
div[class^="TagPosterCard-card-"],
a[class*="Tndv5"],
div[class*="RVD0D"] {
  border-radius: 0 !important;
}

/*::: lower actors faces a bit :::*/
div[class^="TagPosterCard-card-"],
div[class*="RVD0D"] {
  [class^="PosterCardImg-imageContainer-"],
  [class*="1Ar4M"] {
     > div {
      background-position: 100% 30% !important;
    }
  }
}

/*::: Navbar height :::*/
[class*="NavBar-container-"],
[class*="1T0BJ"] {
  height: 40px;
}

/*::: Move navbar Activity Button number :::*/
[class*="NavBarActivityButton-label-"],
[class*="2ZN0g"] {
  top: 10px;
}

/*::: Resize navbar search box :::*/
[class*="QuickSearchInput-container-"],
[class*="QuickSearch-container-"],
[class*="1HiCo"],
[class*="2PWkB"] {
  height: 30px;
}

/*::: Pulsate Status :::*/
[class*="NavBarActivityButton-isActive-"] {
  [class*="NavBarActivityButton-activityIcon-"] {
    opacity: .1;
    -webkit-animation: pulsate 5s ease-out;
    -webkit-animation-iteration-count: infinite;
  }
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.3, 1.3);
  }
  50% {
    opacity: .3;
    -webkit-transform: scale(.85, .85);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.3, 1.3);
  }
}

if CastL == 'CLY' {
/*::: Hover effect on CAST cards :::*/
a[class^="PrePlayCastCell-cardLink-"],
a[class*="Tndv5"] {
  &:hover {
    transform: scale(1.07);
     > div {
      transform: scale(1.07);
    }
  }
}
} else if CastL == 'CLH' {
/*::: Hide Cast List :::*/
div[class^="PrePlayCastList-castList-"],
div[class*="3dQB5"] {
  display: none !important;
}
}

if ExtrasM == 'EEY' {
/*::: Expand 'Extras' display for movies (shows as grid instead of scroller) :::*/
[class^="PrePlayExtrasList-extrasHubCell-"] {
   > div {
    &:nth-child(2) {
      width: auto !important;
      height: auto !important;
       > [class^="Measure-container-"] {
         > div {
           > div {
            width: auto !important;
            height: auto !important;
             > div {
              display: inline-block;
              position: relative !important;
              margin: 10px;
              transform: translate3d(10px, 10px, 0) !important;
            }
          }
        }
      }
    }
  }
}
} else if ExtrasM == 'EEH'{
/*::: Hide Movie Extras (dunno if there are tv extras or not as I could never get extras for tv shows to show up) :::*/
div[class^="PrePlayExtrasList-extrasHubCell-"],
div[class*="2NcGK"] {
  display: none !important;
}
}

if RelatedL == 'RLY' {
/*::: Hide Related List i.e Related movies|shows|Genres|People :::*/
div[data-qa-id*="hub--movie.similar"],
div[data-qa-id*="hub--movie.same.actor."],
div[data-qa-id*="hub--tv.similar"],
div[data-qa-id*="hub--tv.same.actor"],
div[data-qa-id*="hub--tv.morefromnetwork"] {
  display: none !important;
}
}

if PosterHE == 'PHEY' {
/*::: Posters Hover Effects :::*/
/*::: Credits to @IanCeling :::*/

/* Poster Shadow */
div[class^="MetadataPosterCard-cardContainer-"] {
  box-shadow: 0 6px 26px -2px #000;
  transition: all 350ms;

  -webkit-perspective: 500px;
  perspective: 500px;
  /* Poster Hover */
  &:hover {
    box-shadow: 0 0 0 0 #000;
    transform: scale(.95) translateY(0);
    /*::: Poster Play Button :::*/
    div[class^="MetadataPosterCardOverlay-playCircle-"] {
      transform: translate(-50%, -50%) scale(1.2);
    }
    [class^=plex-icon-play-] {
      font-size: 30px;
    }
  }
}

/* Continue Watching poster hover */
div[data-qa-id="hub--home.continue"] {
  div[class^="MetadataPosterCard-cardContainer-"] {
    &:hover {
      transform: scale(.97) translateY(-5px);
    }
  }
}

/*::: Photo Card Hover :::*/
[class^="MetadataPhotoCell-photoContainer-"] {
  transition: all 350ms;

  -webkit-perspective: 500px;
  perspective: 500px;
  &:hover {
    transform: scale(.95) translateY(0);
  }
}

[class^="MetadataPhotoCell-photo-"] {
  &:hover {
    box-shadow: none;
    transform: scale(1.02);
  }
}

/*::: Poster Play Button 2 :::*/
div[class^="MetadataPosterCardOverlay-playCircle-"] {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 48px;
  color: hsla(0, 0%, 100%, .7);
  box-shadow: 0 4px 16px -2px #000;
  transition: all 350ms;
  transform: translate(-50%, -50%) scale(.1);
}
}

if CompactSB == 'CSY' {
/*::: kill container margin and add transition speed :::*/
/*::: Contract the sidebar to save screen space [Expands back out on hovering over the sidebar] :::*/
.page-container {
  margin-left: 0 !important;
}

div[role=navigation] {
  div {
    padding-right: 0;
    a {
      overflow: visible;
      div {
        &:nth-child(2) {
          font-size: 0 !important;
        }
      }
    }
  }
  div[role=header] {
    font-size: 0 !important;
  }
}

[class^=SidebarContainer-sidebarContainer-] {
  width: 55px !important;
  max-width: 55px !important;
  transition: all .5s ease !important;
  &:hover {
    width: 240px !important;
    max-width: 240px !important;
    transition: all 1.5s ease !important;
    [class^=SidebarLink-title],
    [class^=SidebarList-sidebarListHeader],
    [class^=SidebarServerLibraries-librariesTitle] {
      font-size: 12px !important;
      transition: all 2s ease !important;
    }
    div[role=navigation] {
      div {
        a {
          div {
            &:nth-child(2) {
              font-size: 12px !important;
              transition: all 2s ease !important;
            }
          }
        }
      }
      div[role=header] {
        font-size: 12px !important;
        transition: all 2s ease !important;
      }
    }
    button[data-qa-id=serverMenuButton] {
      div {
        span {
          font-size: 14px !important;
          transition: all 2s ease !important;
        }
      }
    }
    [class^=DisclosureArrow-disclosureArrow],
    [class^=SidebarLibrariesActions-actions],
    [class^=SidebarLink-children] {
      display: inline-block !important;
      transition: all 2s ease !important;
    }
  }
}

[class^=SidebarLink-title],
[class^=SidebarList-sidebarListHeader],
[class^=SidebarServerLibraries-librariesTitle] {
  font-size: 0 !important;
}

button[data-qa-id=serverMenuButton] {
  div {
    span {
      font-size: 0 !important;
    }
  }
}

[class^=DisclosureArrow-disclosureArrow-],
[class^=SidebarLibrariesActions-actions],
[class^=SidebarLink-children] {
  display: none !important;
}

[class^=SidebarLibraryItem-action] {
  width: 0 !important;
}
}
}
